<%@ page language="java" contentType="text/html; charset=UTF-8" import="java.util.*" pageEncoding="UTF-8"%>
<div data-role="page" id="messageBoard" class="hide">
	<jsp:include page="/tpl/header.jsp" flush="true">
		<jsp:param name="title" value="留言板"/>
	</jsp:include>
	<div class="content" data-ng-controller="msgCtrl">
		<ul data-role="listview">
		  <li data-role="list-divider">群</li>
		  <li><a href="javascript:void(0)" data-ng-click="toChat('教师群','')">教师群</a></li>
		  <li data-role="list-divider">教师</li>
		  <li data-ng-repeat="t in teachers">
		  	<a href="javascript:void(0)" data-ng-bind="t.name" data-ng-click="toChat(t.name, t.uid)"></a>
		  </li>
		</ul>
	</div>
	<%@include file="/tpl/footer.html"%>
</div>
<div data-role="page" id="messageBoardChat" class="hide" data-ng-controller="msgChatCtrl">
	<jsp:include page="/tpl/header.jsp" flush="true">
		<jsp:param name="title" value="留言板-"/>
	</jsp:include>
	<div class="content">
		<ul data-role="listview">
		  <li data-ng-repeat="m in msg.list" data-ng-class="{send: m.senderUid == user.parentUid}">
		  	<p data-ng-if="m.senderUid == user.parentUid">
		  		<span data-ng-bind="m.timestamp"></span>
			  	<span data-ng-bind="m.senderName"></span><br/>
		  	</p>
		  	<p data-ng-if="m.senderUid != user.parentUid">
			  	<span data-ng-bind="m.senderName"></span> 
			  	<span data-ng-bind="m.timestamp"></span><br/>
		  	</p>
		  	<span data-ng-bind="m.info"></span>
		  </li>
		</ul>
		<form>
		  <fieldset data-role="fieldcontain">
    		<textarea name="info" id="info"  style="margin-bottom: 5px;" data-ng-model="msg.text"></textarea>
    		<input type="button" value="发送" data-ng-click="msg.send()">
		  </fieldset>
		</form>
	</div>
	<%@include file="/tpl/footer.html"%>
</div>