@CHARSET "UTF-8";
.hide {
	display: none;
}
.ng-hide {
	display: none;
}
.ui-grid-a .left {
	width: 60%;
	overflow: hidden;
}
.ui-grid-a .right {
	width: 40%;
	text-align: right;
}
.ui-grid-a .right a { 
	display: inline;
}
.ui-block-a .number,
.ui-block-b .number,
.ui-block-c .number {
	width: 40px;
	float: left;
	background: rgb(148, 189, 221);
	text-align: center;
	margin: 2px 0 2px 5%;
}
.ui-block-a .score,
.ui-block-b .score,
.ui-block-c .score {
	width: 40px;
	float: left;
	background: rgb(171, 227, 241);
	text-align: center;
	margin: 2px 0;
}
.listview .label {
	width: 35%;
	float: left;
	text-align: right;
	padding-right: 5%;
}
.listview .text {
	width: 55%;
	float: left;
	padding-left: 5%;
}
.none-inline li,
.none-inline li a {
	overflow: auto!important;
	white-space: normal!important;
}
.img {
	max-height: 100%!important;
	max-width: 100%!important;
}
.longitudinal-ul .ui-checkbox,
.longitudinal-ul .ui-radio {
	margin: -11px -16px -11px 0!important;
}
.longitudinal-ul .ui-li-divider .ui-checkbox,
.longitudinal-ul .ui-li-divider .ui-radio {
	margin: -7px -16px!important;
}
.longitudinal-ul .ui-li-divider .ui-checkbox label,
.longitudinal-ul .ui-li-divider .ui-radio label {
	background-color: rgb(233,233,233);
}
.longitudinal-ul .ui-checkbox label,
.longitudinal-ul .ui-radio label {
	background-color: rgb(255,255,255);
	border: none;
}
.longitudinal-ul li {
	margin-right: -16px!important;
}
/** 聊天 **/
.chatContent {
	overflow-x: hidden;
	padding-bottom: -20px;
	overflow-y: auto;
}
li.sender {
	float: right;
	text-align: right;
}
li.other {
	float: left;
	text-align: left;
}
li.msg {
	width: 100%;
	margin: 0 10px;;
}
.name {
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	color: rgb(24, 113, 209);
}
.time {
	font-size: 12px;
	color: gray;
}
.info {
	border: 1px solid rgb(188, 191, 196);
	border-radius: 8px;
	margin: 0 10px;
	background-color: rgb(227, 233, 240);
	padding: 5px;
	text-align: left;
	max-width: 95%;
}
.floatRight {
	float: right;
}
.floatLeft {
	float: left;
}
.msgSend {
	position: fixed;
	bottom: 0px;
	margin-bottom: -20px;
	width: 100%;
}